i3
i3-gaps
feh
polybar
alacritty
picom
flameshot
parcellite
nm-applet
dunst
rofi
pipewire
libpipewire
pipewire-alsa
pipewire-pulse
ttf-firacode-nerd
alsa-utils
python-pyqt6
python-gobject
lxappearance
qt6-base
python
python-pyqt6-sip
pcmanfm
materia-gtk-theme